.profilePage {
	display: flex;
	justify-content: center;
	padding-top: 100px;

	& > .loaderContainer {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		& * {
			color: var(--blue);
		}
	}

	& > .loadingError {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.5rem;
		font-weight: 700;
		color: var(--pink);
	}

	& > .container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 50px;

		& > .header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			width: 100%;

			& > .infos {
				display: flex;
				align-items: center;
				gap: 20px;

				& > .picture {
					width: 100px;
					height: 100px;
					border-radius: 50%;
				}

				& > .col {
					display: flex;
					flex-direction: column;
					gap: 5px;

					& > .name {
						font-size: 1.5rem;
					}

					& > .username {
						font-size: 0.9rem;
						color: var(--darken-white);
					}

					& > .school {
						color: var(--blue);
					}
				}
			}

			& > .settingsContainer {
				display: flex;
				justify-content: flex-end;
				gap: 10px;
				padding: 20px 0;
				height: 100%;

				& > .settings {
					$size: 25px;
					display: flex;
					justify-content: center;
					align-items: center;
					width: $size;
					height: $size;
					transition: rotate 0.3s ease;

					&.rotate:hover {
						rotate: 90deg;
					}

					& > ion-icon {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		& > .postsContainer {
			display: flex;
			flex-direction: column;
			gap: 20px;
			padding: 20px;
			width: 100%;
			border-radius: 12px;
			background-color: var(--black-2);

			& > .postsTitle {
				font-size: 2rem;
				border-bottom: 1px solid var(--black-4);
			}

			& > .posts {
				position: relative;
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
				gap: 20px;
				padding-bottom: 10px;

				@media (max-width: 768px) {
					flex-direction: column;
					flex-wrap: nowrap;
					justify-content: flex-start;
					align-items: center;
				}

				& > .post {
					display: flex;
					flex-direction: column;
					gap: 10px;
					padding: 10px;
					width: calc(50% - 10px);
					border-radius: 7px;
					background-color: var(--black-3);

					@media (max-width: 768px) {
						width: 100%;
					}

					& > .content {
						color: var(--white);
					}

					& > .footer {
						display: flex;
						flex-wrap: nowrap;
						justify-content: space-between;
						align-items: center;

						& > .date,
						& > .locations {
							font-size: 0.8rem;
							color: var(--darken-white);
						}
					}
				}

				& > .noPosts {
					width: 100%;
					font-size: 1.2rem;
					text-align: center;
					color: var(--darken-white);
				}
			}
		}
	}
}
